# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/
out/

# Expo
.expo/
**/.expo/
dist/
web-build/

# Environment variables
.env
.env.local
.env.development
.env.production
.env*.local

# Permit example environment files
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Testing
coverage/

# Turbo
.turbo/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Temporary files
*.tmp
*.temp